<% layout("./layout/page") -%>
<% block('title', locGet("aboutPageName")) -%>

<div id="aboutWrapper">
	<div id="aboutBlock">
		<h2><%=locGet("about10")%></h2>
		<p><%=locGet("about20")%></p>
		<p><%=locGet("about30")%></p>
		<p><%=locGet("about40")%></p>
	</div>
</div>